/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    margin: 0;
    background: linear-gradient(90deg, rgba(11, 23, 29, 1) 0%, rgba(15, 42, 55, 1) 100%);
}

.container-scroll {
    height: calc(100vh - 200px);
}

@media only screen and (max-height: 840px) {
    body {
        margin-bottom: 200px;
    }
}
