@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    margin: 0;
    background: linear-gradient(90deg, rgba(11, 23, 29, 1) 0%, rgba(15, 42, 55, 1) 100%);
}

.container-scroll {
    min-height: 550px;
    max-height: calc(100vh - 150px);
}
